<div class="mainarea">
    <%= form_for(:search, url: company_profiles_path, method: :get) do |f| %>
        <p>
        <%= f.text_field :searchtext, class: 'searchinput', placeholder: 'Hae toimittajia...' %>
        </p>
        
        <%= f.submit "Log in", class: 'btn btn-primary', style: 'visibility: hidden;' %>
    <% end %>
</div>

<div style="text-align: center">
    <div class="card card-1">
        <p>Hae urakka</p>
    </div>

    <div class="card card-1">
        <p>Tee Tarjous</p>
    </div>

    <div class="card card-1">
        <p>Ilmoita urakka</p>
    </div>
</div>