/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Comfortaa')
 
 @import url('https://fonts.googleapis.com/css?family=Droid+Sans')
 
body {
  background-color: #00bcd6;
}
h1 {
  font-size: 1.5em;
  font-family: Comfortaa;
  color: #00bcd6;
  font-weight: bold;
  margin-left: 20px;
}
h2 {
  font-size: 1.5em;
  font-family: Comfortaa;
  color: white;
  text-align: left;
}
h3 {
  font-size: 1.2em;
  font-family: Droid Sans;
  color: white;
  text-align: left;
}
p {
  font-family: Droid Sans;
  text-align: center;
}
.topnav {
  position: fixed;
  display: block;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  width: 100vw;
  height: 60px;
  background-color: White;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 0px;
}
.mainarea {
  position: relative;
  top: 45px;
  bottom: 300px;
  margin-bottom: 50px;
}
.siteDescription {
  font-size: 1.5em;
  font-family: Comfortaa;
  color: white;
  text-align: center;
  margin-top: 25px;
}
.footer{
  position: absolute;
  display: block;
  left: 0px;
  width: 100%;
  margin-top: 50px;
  height: 50px;
  background-color: white;
  color: #00bcd6;
}

.card {
  position: relative;
  display: inline-block;
  height: 200px;
  margin: 4rem;
  border-radius: 2px;
  width: 200px;
  padding: 20px;
}
/*
.card {
  display: inline-block;
  background: white;
  border-radius: 2px;
  height: 200px;
  margin: 4rem;
  border-radius: 2px;
  position: relative;
  width: 200px;
}
.card-1 {
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}*/
.card-1 {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hakusanatulokset {
  font-size: 2.5em;
  font-family: Comfortaa;
  color: white;
  text-align: left;
  padding-left: 140px;
}
.hakutulos {
  position: relative;
  display: block;
  margin-left: 4rem;
  margin-bottom: 10px;
  border-radius: 2px;
  width: 80%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 80px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hakutulos:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hakutulosOtsikko{
  font-size: 1.5em;
  font-family: Comfortaa;
  color: white;
  text-align: left;
  margin-bottom: 5px;
}
.hakutulosKuvaus{
  font-size: 1.2em;
  font-family: Droid Sans;
  color: white;
  text-align: left;
  margin-top: 5px;
}

input[type=text] {
    display: block;
    /*width: 80%;*/
    margin: auto;
    margin-top: 100px;
    border-radius: 2px;
    border: none;
    font-size: 32px;
    font-family: Droid Sans;
    /*color: #00bcd6;*/
    /*background-color: white;*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 24px 40px 24px 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

input[type=text]:focus {
    outline: none;
}
input[type=text]:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

/*Sebastian*/

html, body { 
  margin: 0; padding: 0; border: 0; 
  font-family: Comfortaa;
  font-size: 12pt;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  user-select: none;
  background-color: #40b6f2;
}


input, textarea, [contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

h1 {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

.topnav {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  background-color: White;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mainarea {
  position: relative;
  top: 45px;
  margin-bottom: 50px;
}

.loginBtn {
  right: 75px;
  position: fixed;
  top: 15px;
  border: 3px solid #ccc;
  border-radius: 2px;
  font-size: 12px;
  font-family: Comfortaa;
  background-color: white;
}

.searchinput {
    width: 80%; 
    background-color: #3b5998; 
    color: white;
} 

.registerBtn {
  right: 250px; 
  position: fixed;
  top: 15px;
  border: 3px solid #ccc;
  border-radius: 2px;
  font-size: 12px;
  font-family: Comfortaa;
  background-color: white;
  color: black;
}

.card {
  background: #addef2;
  border-radius: 2px;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 2rem;
  position: relative;
}

.card-1 {
  box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input[type=text], input[type=password] {
    display: block;
    /*width: 80%;*/
    margin: auto;
    margin-top: 100px;
    border-radius: 2px;
    border: none;
    font-size: 32px;
    font-family: Droid Sans;
    /*color: white;
    background-color: #3b5998;*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 24px 40px 24px 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

input[type=text]:hover, input[type=password]:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

input[name="uname"], input[name="psw"], input[name="checked"] {
  display: block;
    /*width: 80%;*/
    margin: auto;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    font-family: Droid Sans;
    color: white;
    background-color: #3b5998;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

a {
    text-decoration: none;
}

a[href="index.html"]:visited {
  color: #40b6f2;
}
